body {
  font-family: sans-serif;
  font-size: 12pt;

  margin: 15;
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

img {
    width: 200px;
    max-height: max-content;
}
nav {
  background-color: #fff2b0;
  padding: 1em;

  grid-area: nav;
}
nav ul {
  list-style: none;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  color: #271b08;
}




main p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
}
main ul {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}
header {
  background-color: #50e3c2;
  padding: 1em;

  grid-area: header;
}

main {
  background-color: #f5e3c6;
  padding: 1em;

  grid-area: main;
}

aside {
  background-color: #b8e986;
  padding: 1em;

  grid-area: aside;
}

footer {
  background-color: #40ba24;
  padding: 1em;
  color: white;

  grid-area: footer;
}

section {
  background-color: #271b08;
  padding: 3%;
}

h2,
p {
  padding: 0.3em;
}


h1 {
  font-size: largest;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* form styling*/
/*
form {
  background-color:#b8e986;
  padding: 0.4rem;
}
*/
fieldset {
  background-color: #edd2a7;
  margin: 0.2rem;
}
aside {
}


button {
  padding: 0.2rem;
  margin-top: 0.5rem;
  border: solid black;
}

/* increase max-width if media query doesn't work */
@media (max-width: 500px) {
  body {
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
